body{

    background-image: url("https://image.freepik.com/free-photo/top-view-various-brushes-crayons_23-2148660992.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
    height:100%;
    text-align: center;   

}

 
.intro{

    padding-top:15.625rem;   

}


.info{

    padding-top:4.6875rem   ;

}

 
.align{

    margin-left:47%;
    width:30%;
    text-align: left;

}

 
.align2{

    margin-left:37%;
    padding:0.125rem;
    width:50%;
    text-align: left;
}

